@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card" style="width:500px; float:right; padding:10px; margin:10px;">
        <img class="card-img-top" src="" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title"> <a asp-controller="FAQ" asp-action="Index" class="btn">FAQ</a></h4>
        </div>
    </div>
    <div class="card" style="width:500px; float:left; padding:10px; margin:10px;">
        <img class="card-img-top" src="" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title"> <a asp-controller ="Store" asp-action="Index" class="btn">Store</a></h4>
        </div>
    </div>
    <div class="card" style="width:500px; float:right; padding:10px; margin:10px;">
        <img class="card-img-top" src="" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title"> <a asp-controller="LineUp" asp-action="Index" class="btn">Line-up</a></h4>
        </div>
    </div>
    <div class="card" style="width:500px; float:left; padding:10px; margin:10px;">
        <img class="card-img-top" src="" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title"> <a asp-controller="Account" asp-action="Index" class="btn">Account</a></h4>
        </div>
    </div>
    <div class="card" style="width:500px; display:inline-block; padding:10px; margin:10px;">
        <img class="card-img-top" src="" alt="Card image">
        <div class="card-img-overlay">
            <h4 class="card-title"> <a asp-controller="Explore" asp-action="Index" class="btn">Explore</a></h4>
        </div>
    </div>
</div>


