@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--FAQ-->
    <div class="card" style="width:400px; margin: 20px; margin-left:auto; margin-right: auto">
        <img class="card-img-top" src="~/Festivalimage.jpg" alt="Card image">
        <div class="card-img">
            <h4 class="card-title" style="margin:10px"> <a asp-controller="FAQ" asp-action="Index" class="btn">FAQ</a></h4>
        </div>
    </div>

    <!--Store-->
    <div class="card" style="width:400px; margin: 20px; margin-left:auto; margin-right: auto">
        <img class="card-img-top" src="~/Festivalimage.jpg" alt="Card image">
        <div class="card-img">
            <h4 class="card-title"> <a asp-controller ="Store" asp-action="Index" class="btn">Store</a></h4>
        </div>
    </div>

    <!--Line-up-->
    <div class="card" style="width:400px; margin: 20px; margin-left:auto; margin-right: auto">
        <img class="card-img-top" src="~/Festivalimage.jpg" alt="Card image">
        <div class="card-img">
            <h4 class="card-title"> <a asp-controller="LineUp" asp-action="Index" class="btn">Line-up</a></h4>
        </div>
    </div>

    <!--Account-->
    <!--<div class="card" style="width:400px; margin: 20px; margin-left:auto; margin-right: auto">
        <img class="card-img-top" src="~/Festivalimage.jpg" alt="Card image">
        <div class="card-img">
            <h4 class="card-title"> <a asp-controller="Account" asp-action="Index" class="btn">Account</a></h4>
        </div>
    </div>
    -->

    <!--Explore-->
    <div class="card" style="width:400px;  margin: 20px; margin-left:auto; margin-right: auto">
        <img class="card-img-top" src="~/Festivalimage.jpg" alt="Card image">
        <div class="card-img">
            <h4 class="card-title"> <a asp-controller="Explore" asp-action="Index" class="btn">Explore</a></h4>
        </div>
    </div>


    <!--Plaats tussen cards en news-->
    <br/>
    <br/>
    <br/>

   
</div>
